# Cache, session files and logs (Symfony3)
var
vendor

#composer
composer.phar
composer.json
composer.lock

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
bin

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~
