{% extends 'base.html.twig' %}


{% block body %}
<div id="wrapper">
	<div class="container">
		<h1 align="center" ><span>Commenter</span> </h1>
		

		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
		<td align="center"><a class="btn btn-primary btn-lg btn-block" href='/unMusee/{{id}}' role="button">Retour</a> </td> 

	
	</div>
</div>
{% endblock %}
