{% extends 'base.html.twig' %}


{% block body %}
<div id="wrapper">
	<div class="container">
		<h1 align="center" ><span> Accueil </span> </h1>
		<table class="table">
			<tr>
			<br>
			<br>
				<td align="center"><a class="btn btn-info" href='/showTen/1' role="button">Page de de 10</a> </td> 
				<td align="center"><a class="btn btn-info" href='/new' role="button">Ajouter un nouveau Musee</a> </td> 
				<td align="center"><a class="btn btn-info" href='/Arrondissement' role="button">Arrondissement</a> </td> 
			</tr>
		</table>
	</div>
</div>

{% endblock %}
